.additional {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}

.additional__title {
  color: $tittle-color;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    // width: 896px;
    border: none;
  }
}

.additional__card-title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
}

.additional__offer-wrap {
  background-image: url("../img/additional_back_mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 290px;
  padding: 187px 60px 43px;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(104, 183, 56, 0.85);
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/additional_back_tablet.jpg");
    min-height: 200px;
    padding: 71px 125px 69px 425px;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 42px 43px;
    width: 245px;
  }
}

.additional__offer-wrap ::after {
  content: "";
  background-image: url("../img/sprite.svg#gift");
  width: 78px;
  height: 81px;
  position: absolute;
  top: -130px;
  left: 47px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 83px;
    top: -10px;
    left: -330px;
  }

  @media (min-width: $desktop-width) {
    top: -130px;
    left: 44px;
  }
}

.additional__offer {
  color: $basic-light;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    width: 165px;
  }
}

.additional__card-wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional__content {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 81px;
    // width: 1220px;
  }
}

.additional__list-item {
  padding-top: 12px;
  padding-bottom: 19px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
  }
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 244px;
    width: 894px;
    gap: 40px;
    padding: 15px 0 17px;
  }
}

.additional__list-item::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ebebeb;
}

.additional__list-item:first-child:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    content: none;
  }

  @media (min-width: $desktop-width) {
    content: "";
  }
}

.additional__card-specification {
  width: 280px;

  @media (min-width: $desktop-width) {
    width: 285px;
  }
}

.additional__card-specification .column-1 {
  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.additional__card-specification .column-2 {
  text-align: right;
}
