.catalog {
  padding-top: 27px;
}

.catalog__tittle {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.catalog__list {
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 320px;
  padding: 20px 20px 25px 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 324px;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 63px 80px;
  }
}

.product-card__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__link {
  text-decoration: none;
}

.product-card__specification {
  font-size: 12px;
  line-height: 16px;
}
