.catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13px;
  }
}

.catalog__item {
  padding-top: 20px;
  padding-bottom: 26px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 40px 37px;
    background-color: $additional-color;
    display: flex;
    flex-direction: column;
  }
}

.catalog__item::after {
  content: "";
  width: 280px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.catalog__item:first-child::before {
  content: "";
  width: 280px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ebebeb;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.catalog__item-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.product-card__image {
  width: 140px;
  height: 107px;
  @media (min-width: $tablet-width) {
    margin: -100px auto 0;
    display: block;
    width: 200px;
    height: 210px;
  }
}

.catalog__tittle {
  color: $tittle-color;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-left: 10px;
    margin-bottom: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 165px;
  }
}

.product-card__block-info {
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 280px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 324px;
    gap: 135px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 145px 80px;
  }
}

.product-card__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 80px;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 140px;
    font-size: 20px;
    line-height: 24px;
    margin: 17px auto 20px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;
  }
}

.product-card__link {
  text-decoration: none;
}

.product-card__specification {
  font-size: 12px;
  line-height: 12px;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 250px;
    font-size: 16px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    line-height: 27px;
  }
}

.product-card__specification .column-1 {
  text-align: left;
}

.product-card__specification .column-2 {
  text-align: right;
}

.product-card__buttom {
  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}

.product-card--more {
  padding-top: 75px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 36px;
    left: 127px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::before {
    transform: rotate(90deg);
    box-shadow: none;
  }

  @media (min-width: $tablet-width) {
    border: 2px solid #f2f2f2;
    background-color: #ffffff;
    padding-top: 162px;

    &::before,
    &::after {
      top: 81px;
      left: 141px;
      width: 60px;
      height: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 148px;
    &::before,
    &::after {
      top: 77px;
      left: 92px;
    }
  }
}

.product-card--more .product-card__text {
  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }
}

.product-card--more .product-card__title {
  width: 280px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    width: 160px;
  }
}

.product-card__text {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 170px;
  }
}

.product-card__buttom {
  font-size: 16px;
  line-height: 20px;
}
