.example {
  background-color: $additional-color;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__info {
  margin: 0 auto;
  padding: 25px 20px 20px;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.example__tittle {
  color: $tittle-color;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 370px;
  }
}

.example__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  justify-content: start;
  box-shadow: inset 0 0 0 1px #cdcdcd;
  border-radius: 3px;
  width: 124px;
  // padding: 15px auto;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.example__description {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__number {
  color: $tittle-color;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-top: 7px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__name {
  color: $text-color;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 100%;
  background-color: $additional-color;
  margin-top: 10px;
  padding: 0 5px;
  max-width: 80px;
  text-transform: lowercase;
  z-index: 2;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

.example__text {
  color: $tittle-color;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 175px;
    text-align: right;
  }
}
