.example {
  background-color: #f2f2f2;
}

.example__tittle {
  color: #000000;
  text-align: center;
  font-family: Oswald;
  font-size: 36px;
  line-height: 40px;
}

.example__number {
  color: #000000;
  font-family: Oswald;
  font-size: 24px;
  line-height: 24px;
}

.example__description {
  color: #444444;
  font-family: Lato;
  font-size: 12px;
  line-height: 100%;
}

.example__text {
  color: #000000;
  text-align: center;
  font-family: Oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
