.features {
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 104px;
    padding: 20px 10px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 41px;
  }
}

.features__item {
  min-height: 60px;
  padding-left: 80px;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: left top;

  @media (min-width: $tablet-width) {
    background-size: 80px 80px;
    padding-left: 0;
    padding-top: 111px;
    position: relative;

    &::after {
      position: absolute;
      left: 110px;
      top: 90px;
      color: #f2f2f2;
      font-size: 280px;
      font-family: Oswald;
      counter-increment: section;
      content: counter(section);
      z-index: -1;
    }
  }
}

.features__item--icon_leaf {
  background-image: url("../img/features_leaf.svg");
}

.features__item--icon_cup {
  background-image: url("../img/features_cup.svg");
}

.features__item--icon_cutlery {
  background-image: url("../img/features_cutlery.svg");
}

.features__item--icon_alarm {
  background-image: url("../img/features_alarm.svg");
}

.features__tittle {
  color: $tittle-color;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(var(--column-count, 1), 1fr);
  row-gap: 20px;
  counter-reset: section;

  @media (min-width: $tablet-width) {
    margin-right: 70px;
    --column-count: 2;
    row-gap: 134px;
    column-gap: 133px;
  }

  @media (min-width: $desktop-width) {
    --column-count: 4;
    gap: 95px;
    margin: 0;
  }
}

.features_text {
  margin: 0;
}

// .features__item:not(:last-child) {
//   margin-bottom: 26px;
// }
