.form__tittle {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.form__characteristic {
  display: flex;
  flex-direction: column;
}

.form__contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.form__text {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__subtitle {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.form label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__field {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__star-text {
  color: #000000;
  text-align: center;
  line-height: 16px;
}

.additionally__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 192px 192px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 192px 192px 192px 192px;
  }
}

.form__selection {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
