.main-footer {
  background-color: #f2f2f2;
}

.main-footer__invitation {
  color: #111111;
  font-family: Oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__address {
  line-height: 20px;
  font-style: normal;
}
