.main-header {
  width: 320px;
  margin: 0 auto;
  position: relative;
  padding: 13px 20px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 55px 110px;
  }
}

.main-header__index {
  @media (min-width: $desktop-width) {
    position: absolute;
    right: 110px;
    left: 110px;
    top: 55px;
    z-index: 1;
    padding: 0;
    width: 1220px;
  }
}

a.main-header__logo {
  display: block;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

a.main-header__logo:hover {
  opacity: 0.8;
}

a.main-header__logo:active {
  opacity: 0.6;
}

.main-header__logo-words-image {
  position: relative;
  top: -10px;
  left: 56px;

  @media (min-width: $tablet-width) {
    top: -16px;
    left: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
    top: -19px;
    left: 14px;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 58px;
  height: 66px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;

  &:hover,
  &:active {
    background-color: #f2f2f2;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: $tittle-color;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: #666666;
  box-shadow: 0 8px 0 0 #666666, 0 16px 0 0 #666666;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 17px;
    width: 25px;
    height: 2px;
    background-color: $tittle-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: #666666;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  display: block;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 10px;
  }
}

.site-list a {
  display: block;
  font-family: "Oswald", sans-serif;
  padding: 22px 22px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  color: $tittle-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    border-bottom: none;
    padding: 0;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.site-list__item {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

a.site-list__item--current::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 1px;
    width: 100%;
    border-top: 2px solid #68b738;
  }
}

.site-list__index a.site-list__item--current::before {
  @media (min-width: $desktop-width) {
    border-top: 2px solid #ffffff;
  }
}

.site-list__item a:hover {
  opacity: 0.6;
}

.site-list__item a:active {
  opacity: 0.3;
}

.site-list__index a {
  @media (min-width: $desktop-width) {
    color: $basic-light;
    background-color: transparent;
  }
}
