.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item a {
  color: #000000;
  font-family: "Oswald";
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.site-list__item {
  margin: 22px auto 24px auto;
  display: block;
  text-align: center;
}
