.nutrition-programs {
  margin: 0 auto 0;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    width: 1220px;
  }
}

.nutrition-program {
  background-color: $additional-color;
  padding: 30px 20px 22px 20px;
  margin: 0 auto 17px auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 77px 52px 57px 52px;
    width: 708px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 59px;
    width: 570px;
  }
}

.nutrition-program__slim {
  background-image: url("../img/cat_slim.svg");
  background-repeat: no-repeat;
  background-size: 50px 53px;
  background-position: left 20px top 21px;

  @media (min-width: $tablet-width) {
    background-size: 200px 211px;
    background-position: right 63px top 81px;
  }

  @media (min-width: $desktop-width) {
    background-size: 100px 106px;
    background-position: left 55px top 41px;
  }
}

.nutrition-program__pro {
  background-image: url("../img/cat_pro.svg");
  background-repeat: no-repeat;
  background-size: 67px 50px;
  background-position: left 13px top 24px;

  @media (min-width: $tablet-width) {
    background-size: 268px 200px;
    background-position: right 29px top 91px;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 100px;
    background-position: left 36px top 47px;
  }
}

.nutrition-program__tittle {
  color: $tittle-color;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 169px;
    margin-bottom: 73px;
  }
}

.nutrition-program__description {
  margin-bottom: 42px;
  position: relative;

  &::after {
    content: "";
    background-color: #d9d9d9;
    width: 240px;
    height: 1px;
    position: absolute;
    bottom: -23px;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    color: $tittle-color;
    width: 342px;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
    width: 452px;
  }
}

.nutrition-program__link {
  color: $tittle-color;
  text-align: center;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    background-image: url("../img/sprite.svg#nutrition-program-arrow");
    width: 32px;
    height: 10px;
    position: absolute;
    top: 5px;
    right: -47px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;

    &::after {
      top: 12px;
      right: -58px;
    }
  }
}

.nutrition-program__link:active {
  opacity: 0.3;
}
