.button {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-light;
  background-color: $basic-bright;
  text-align: center;
  padding: 10px;
  display: block;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.button--secondary {
  color: $text-color;
  background-color: $additional-color;
}

.button--secondary:hover {
  color: $text-color;
  background-color: #ebebeb;
}

.button--secondary:active {
  color: $text-color;
  background-color: #ebebeb;
}
