.button {
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  padding: 10px;
  display: block;
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}
