//widths
$tablet-width: 768px;
$desktop-width: 1220px;
$mobile-width-only: 767px;

//colors
$basic-bright: #68b738;
$additional-color: #f2f2f2;
$text-color: #444444;
$tittle-color: #000000;
$basic-light: #ffffff;
